html
	head
		include template/head.pug
		include template/partials/linkPalette.pug
	body
		.container
			<input class="container__standartSelection" type="radio" name="chetyre"> Standart
			<input class="container__firstSelection" type="radio" name="chetyre"> Selection 1 (Purple)
			<input class="container__secondSelection" type="radio" name="chetyre"> Selection 2 (Red)
			<input class="container__thirdSelection" type="radio" name="chetyre"> Selection 3 (Pink)
			<input class="container__fourthSelection" type="radio" name="chetyre"> Selection 4 (Dark Orange)
			<input class="container__fifthSelection" type="radio" name="chetyre"> Selection 5 (Peach)
			.container__loaderWrap
				.loader
				.loaderSection.loaderSection_left
				.loaderSection.loaderSection_right
			section.menuPopup.container__menuPopup
				- var linkPopupText = ['HOME', 'PAGES', 'PORTFOLIO', 'BLOG', 'ABOUT', 'OVERLAY'];
				nav.menuPopup__itemWrap
					for name in linkPopupText
						a.menuPopup__link= name
			.paletteWrap
				.paletteWrap__titleBox
					h1.paletteWrap__title PALETTE
				mixin paletteItemMix(titlePaletteMix, firstColorMix, secondColorMix, thirdColorMix, fourthColorMix, firstHexColorMix, seconHexdColorMix, thirdHexColorMix, fourtHexhColorMix)
					.paletteWrap__item
						.paletteWrap__titleItemBox
							h1.paletteWrap__titleItem #{titlePaletteMix}
							p.paletteWrap__nameColors ##{firstHexColorMix} ##{seconHexdColorMix} ##{thirdHexColorMix} ##{fourtHexhColorMix}
						.paletteWrap__schemeBox
							.paletteWrap__colorScheme.paletteWrap__colorScheme_square
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${firstColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${secondColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${thirdColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${fourthColorMix}`)
							.paletteWrap__colorScheme.paletteWrap__colorScheme_vertical
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${firstColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${secondColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${thirdColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${fourthColorMix}`)
							.paletteWrap__colorScheme.paletteWrap__colorScheme_horizontal
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${firstColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${secondColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${thirdColorMix}`)
								.paletteWrap__colorItem(class=`paletteWrap__colorItem_${fourthColorMix}`)
				+paletteItemMix('SET 1', '1', '2', '3', '4', 'f5f4e8', 'c50d66', 'f07810', 'eec60a')
				+paletteItemMix('SET 2', '5', '6', '7', '8', '13334c', '005792', 'f6f6e9', 'fd5f00')
				+paletteItemMix('SET 3', '9', '10', '11', '12', '57D1C9', 'ED5485', 'FFFBCB', 'FFE869')
				+paletteItemMix('SET 4', '13', '14', '15', '16', 'F8F9FC', 'C00000', 'DE3C3C', 'F7B32D')
				+paletteItemMix('SET 5', '17', '18', '19', '20', '003246', 'E4491C', '0387B1', 'F5F5F5')
				+paletteItemMix('SET 6', '21', '22', '23', '24', 'ff5108', 'fffdf8', 'ff2321', '000000')
				+paletteItemMix('SET 7', '25', '26', '27', '28', '7abed1', 'f05945', 'f7f3e9', 'f05945')
				+paletteItemMix('SET 8', '29', '30', '31', '32', 'FFFC31', 'F6F7EB', 'E94F37', '393E41')
				+paletteItemMix('SET 9', '33', '34', '35', '36', '518f8b', 'e3e1c8', '472c33', 'e6462d')
				+paletteItemMix('SET 10', '37', '38', '39', '40', 'c12127', '2a333c', 'ffffff', '8f9299')
				+paletteItemMix('SET 11', '41', '42', '43', '44', 'EDEDE4', 'F74906', '554E44', 'FFFFFF')
				+paletteItemMix('SET 12', '45', '46', '47', '48', '221E1D', 'ECEAE0', '63AA9C', 'E9633B')
				+paletteItemMix('SET 13', '49', '50', '51', '52', 'a10015', 'd52b15', 'efeee9', 'beb1b4')
				+paletteItemMix('SET 14', '53', '54', '55', '56', '222831', '393E46', 'FD7013', 'EEEEEE')
				+paletteItemMix('SET 15', '57', '58', '59', '60', 'FF7260', '9BD7D5', 'FFF5C3', '505050')
				+paletteItemMix('SET 16', '61', '62', '63', '64', 'FF3B1D', '7BDFF2', '000000', 'FFFFFF')
			.hoverBlockWrap
				.hoverBlockWrap__titleBox
					h1.hoverBlockWrap__title HOVER BLOCK
				mixin hoverBlockItemMix(titleHoverBlockMix, positionGradientMix, positionContentMix)
					.hoverBlockWrap__item
						.hoverBlockWrap__titleItemBox
							h1.hoverBlockWrap__titleItem #{titleHoverBlockMix}
							p.hoverBlockWrap__nameTypes SQUARE VERTICAL HORIZONTAL
						.hoverBlockWrap__setBox
							.hoverBlockWrap__hoverBlock.hoverBlockWrap__hoverBlock_square
								.hoverBlockWrap__gradientBlock(class=`hoverBlockWrap__gradientBlock_${positionGradientMix}`)
								.hoverBlockWrap__contentBlock.hoverBlockWrap__contentBlock_bg(class=`hoverBlockWrap__contentBlock_${positionContentMix}`)
							.hoverBlockWrap__hoverBlock.hoverBlockWrap__hoverBlock_vertical
								.hoverBlockWrap__gradientBlock(class=`hoverBlockWrap__gradientBlock_${positionGradientMix}`)
								.hoverBlockWrap__contentBlock.hoverBlockWrap__contentBlock_bg(class=`hoverBlockWrap__contentBlock_${positionContentMix}`)
							.hoverBlockWrap__hoverBlock.hoverBlockWrap__hoverBlock_horizontal
								.hoverBlockWrap__gradientBlock(class=`hoverBlockWrap__gradientBlock_${positionGradientMix}`)
								.hoverBlockWrap__contentBlock.hoverBlockWrap__contentBlock_bg(class=`hoverBlockWrap__contentBlock_${positionContentMix}`)
				+hoverBlockItemMix('TOP-RIGHT', 'bl', 'tr')
				+hoverBlockItemMix('TOP-LEFT', 'br', 'tl')
				+hoverBlockItemMix('BOTTOM-RIGHT', 'tl', 'br')
				+hoverBlockItemMix('BOTTOM-LEFT', 'tr', 'bl')
			.logoWrap
				.logoWrap__titleBox
					h1.logoWrap__title LOGO GLITCH EFFECT
				.logoWrap__item
					.logoWrap__titleItemBox
						h1.logoWrap__titleItem
						p.logoWrap__nameEffect GLITCH
					.logoWrap__effectBox
						h1.logoWrap__logo(data-text="Logo") Logo
			.burgerWrap
				.burgerWrap__titleBox
					h1.burgerWrap__title BURGER MENU SVG
				mixin burgerItemMix(titleBurgerMix, nameTypeBurgerMix, typeBurgerMix, coordinateFirstLayer, coordinateSecondLayer, coordinateThirdLayer)
					.burgerWrap__item
						.burgerWrap__titleItemBox
							h1.burgerWrap__titleItem #{titleBurgerMix}
							p.burgerWrap__nameTypes #{nameTypeBurgerMix}
						.burgerWrap__typeBox(class=`${typeBurgerMix}`)
							div(class=`${typeBurgerMix}__burgerWrap`)
								label(class=`${typeBurgerMix}__burgerBox`)
									<input class="burgerInput" type="checkbox"/>
										svg(class=`strokeWrap ${typeBurgerMix}__strokeWrap` viewBox="30 30 40 40" xmlns='http://www.w3.org/2000/svg')
											path.strokeWrap__stroke.strokeWrap__stroke_first(d=`${coordinateFirstLayer}`)
											path.strokeWrap__stroke.strokeWrap__stroke_second(d=`${coordinateSecondLayer}`)
											path.strokeWrap__stroke.strokeWrap__stroke_third(d=`${coordinateThirdLayer}`)
				+burgerItemMix('BURGER 1', 'SVG', 'burgerAround', 'M0 40h62c13 0 6 28-4 18L35 35', 'M0 50h70', 'M0 60h62c13 0 6-28-4-18L35 65')
				+burgerItemMix('BURGER 2', 'SVG', 'joinAround', 'M0 70l28-28c2-2 2-2 7-2h64', 'M0 50h99', 'M0 30l28 28c2 2 2 2 7 2h64')
			.waveWrap
				.waveWrap__titleBox
					h1.waveWrap__title ANIMATED WAVES
				mixin waveItemMix(titleWaveMix, nameWaveMix, colorWaveMix, speedWaveMix)
					.waveWrap__item
						.waveWrap__titleItemBox
							h1.waveWrap__titleItem #{titleWaveMix}
							p.waveWrap__nameTypes #{nameWaveMix}
						.waveWrap__setBox
							.waveWrap__wavesContainer.waveWrap__wavesContainer_lg
								- for (var x = 0; x < 3; x++)
									svg.waveWrap__wave(width="100" height="60" viewBox="5 0 100 60" xmlns="http://www.w3.org/2000/svg")
										path(class=`waveWrap__waveСoordinates waveWrap__waveСoordinates_${colorWaveMix} waveWrap__waveСoordinates_${speedWaveMix}` d="M10,16c17.93,0,17.93,12,35.86,12S63.8,16,81.73,16s17.93,12,35.86,12,17.94-12,35.87-12,17.94,12,35.87,12 $=1$=010.0")
							.waveWrap__wavesContainer.waveWrap__wavesContainer_md
								- for (var x = 0; x < 3; x++)
									svg.waveWrap__wave(width="50" height="60" viewBox="5 0 100 60" xmlns="http://www.w3.org/2000/svg")
										path(class=`waveWrap__waveСoordinates waveWrap__waveСoordinates_${colorWaveMix} waveWrap__waveСoordinates_${speedWaveMix}` d="M10,16c17.93,0,17.93,12,35.86,12S63.8,16,81.73,16s17.93,12,35.86,12,17.94-12,35.87-12,17.94,12,35.87,12 $=1$=010.0")
							.waveWrap__wavesContainer.waveWrap__wavesContainer_sm
								- for (var x = 0; x < 3; x++)
									svg.waveWrap__wave(width="25" height="60" viewBox="5 0 100 60" xmlns="http://www.w3.org/2000/svg")
										path(class=`waveWrap__waveСoordinates waveWrap__waveСoordinates_${colorWaveMix} waveWrap__waveСoordinates_${speedWaveMix}` d="M10,16c17.93,0,17.93,12,35.86,12S63.8,16,81.73,16s17.93,12,35.86,12,17.94-12,35.87-12,17.94,12,35.87,12 $=1$=010.0")
				+waveItemMix('WAVES SET 1', 'ORANGE SPEED-900 MS', 'orange', '9s')
				+waveItemMix('WAVES SET 1', 'ORANGE SPEED-700 MS', 'orange', '7s')
				+waveItemMix('WAVES SET 1', 'ORANGE SPEED-500 MS', 'orange', '5s')
				+waveItemMix('WAVES SET 1', 'BLUE SPEED-900 MS', 'blue', '9s')
				+waveItemMix('WAVES SET 1', 'BLUE SPEED-700 MS', 'blue', '7s')
				+waveItemMix('WAVES SET 1', 'BLUE SPEED-500 MS', 'blue', '5s')
			.burgerWrap
				.burgerWrap__titleBox
					h1.burgerWrap__title BURGER MENU SVG
				mixin burgerItemMix(titleBurgerMix, nameTypeBurgerMix, typeBurgerMix, coordinateFirstLayer, coordinateSecondLayer, coordinateThirdLayer, jsClassPopup)
					.burgerWrap__item
						.burgerWrap__titleItemBox
							h1.burgerWrap__titleItem #{titleBurgerMix}
							p.burgerWrap__nameTypes #{nameTypeBurgerMix}
						.burgerWrap__typeBox(class=`${typeBurgerMix}`)
							div(class=`${typeBurgerMix}__burgerWrap ${jsClassPopup}`)
								label(class=`${typeBurgerMix}__burgerBox`)
									<input class="burgerInput" type="checkbox"/>
										svg(class=`strokeWrap ${typeBurgerMix}__strokeWrap` viewBox="30 30 40 40" xmlns='http://www.w3.org/2000/svg')
											path.strokeWrap__stroke.strokeWrap__stroke_first(d=`${coordinateFirstLayer}`)
											path.strokeWrap__stroke.strokeWrap__stroke_second(d=`${coordinateSecondLayer}`)
											path.strokeWrap__stroke.strokeWrap__stroke_third(d=`${coordinateThirdLayer}`)
				+burgerItemMix('BURGER 1', 'SVG', 'burgerAround', 'M0 40h62c13 0 6 28-4 18L35 35', 'M0 50h70', 'M0 60h62c13 0 6-28-4-18L35 65', 'js-burger_popupOpen')
			.hoverButtonWrap
				.hoverButtonWrap__titleBox
					h1.hoverButtonWrap__title HOVER BUTTONS
				mixin hoverButtonItemMix(titleButtonBlockMix)
					.hoverButtonWrap__item
						.hoverButtonWrap__titleItemBox
							h1.hoverButtonWrap__titleItem #{titleButtonBlockMix}
							p.hoverButtonWrap__nameTypes TOP-RIGHT TOP-LEFT BOTTOM-RIGHT BOTTOM-LEFT
						.hoverButtonWrap__setBox
							.hoverButtonWrap__hoverBlock
								.hoverButtonWrap__gradientBlock.hoverButtonWrap__gradientBlock_bl
								button.hoverButtonWrap__button.hoverButtonWrap__button_tr View More
							.hoverButtonWrap__hoverBlock
								.hoverButtonWrap__gradientBlock.hoverButtonWrap__gradientBlock_br
								button.hoverButtonWrap__button.hoverButtonWrap__button_tl View More
							.hoverButtonWrap__hoverBlock
								.hoverButtonWrap__gradientBlock.hoverButtonWrap__gradientBlock_tl
								button.hoverButtonWrap__button.hoverButtonWrap__button_br View More
							.hoverButtonWrap__hoverBlock
								.hoverButtonWrap__gradientBlock.hoverButtonWrap__gradientBlock_tr
								button.hoverButtonWrap__button.hoverButtonWrap__button_bl View More
				+hoverButtonItemMix('SLIDING BUTTONS')
			.hoverPortfolioWrap
				.hoverPortfolioWrap__titleBox
					h1.hoverPortfolioWrap__title JOB BLOCK
				.hoverPortfolioWrap__item
					.hoverPortfolioWrap__titleItemBox
						h1.hoverPortfolioWrap__titleItem SET 1
						p.hoverPortfolioWrap__nameTypes SLICE
					.hoverPortfolioWrap__typeBox
						figure.hoverPortfolioWrap__jobBlock
							img.hoverPortfolioWrap__img(src="image/sea.jpg" alt="img25")
							figcaption.hoverPortfolioWrap__slideSlice
								h2.hoverPortfolioWrap__nameLogo LOGO
						figure.hoverPortfolioWrap__jobBlock
							img.hoverPortfolioWrap__img(src="image/sea.jpg" alt="img25")
							figcaption.hoverPortfolioWrap__slideSlice
								h2.hoverPortfolioWrap__nameLogo LOGO
			.titlePageWrap
				.titlePageWrap__titleBox
					h1.titlePageWrap__title TITLE BLOCK
				mixin titlePageItemMix(titlePageBlockMix, nameTitlePageMix, titlePageClassMix, titlePageMix)
					.titlePageWrap__item
						.titlePageWrap__titleItemBox
							h1.titlePageWrap__titleItem #{titlePageBlockMix}
							p.titlePageWrap__nameTypes #{nameTitlePageMix}
						.titlePageWrap__typeBox
							h1(class=`titlePageWrap__${titlePageClassMix}`) !{titlePageMix}
				+titlePageItemMix('ITEM 1', 'SOLID SHADOW', 'solidShadow', 'DIGITAL <br/> INSOMNIAC')
				+titlePageItemMix('ITEM 1', 'SOLID SHADOW', 'directShadow', 'INSOMNIAC <br/> DIGITAL')
				+titlePageItemMix('ITEM 1', 'SOLID SHADOW', 'cornerShadow', 'INSOMNIAC <br/> DIGITAL')
				+titlePageItemMix('ITEM 1', 'SOLID SHADOW', 'discoShadow', 'INSOMNIAC <br/> DIGITAL')
				+titlePageItemMix('ITEM 1', 'SOLID SHADOW', 'retroShadow', 'INSOMNIAC <br/> DIGITAL')
		include template/scripts.pug